In [1]:
print("hello wellcome to python")
print("hello program")

hello wellcome to python
hello program

In [2]:
"""
End : end parameter 
"""

print("hello",end=" ")
print("weel come to python",end=" | ")
print("my score is 89")

hello weel come to python | my score is 89

In [3]:
"""
variable : a name which can store a value 

Rules : 
      
       1) we cannot use any reserved word or a keyword as a variable name 
        e.g  int float ......
    
        2) we can use A to Z , a to z , 0 to 9 , _(underscore) and 0-9 in variable name 
         
         3) we can't start variable name with digits 
               
               e.g  
                    1AGE 
                     age1   

        4) variable name can not contain white space 

            e.g first name  X 
                first_name 
                firstname ---------camle case       
"""

"\nvariable : a name which can store a value \n\nRules : \n\n       1) we cannot use any reserved word or a keyword as a variable name \n        e.g  int float ......\n\n        2) we can use A to Z , a to z , 0 to 9 , _(underscore) and 0-9 in variable name \n\n         3) we can't start variable name with digits \n\n               e.g  \n                    1AGE \n                     age1   \n\n        4) variable name can not contain white space \n\n            e.g first name  X \n                first_name \n                firstname ---------camle case       \n"

In [4]:
score = 89 #here , score is my variablename and 89 in value 
name = "python"

print("score") #output : score 
print(score)   #output : 89

score
89

In [5]:
"""
data type : which type of value in a variable

in python there is type ()

type() : using of type function we can check which type of value 
         store in a variable

"""

print (type (score))

<class 'int'>

In [6]:
 
name = "python"

subject = "programing"

score =89

print("my technology nae is",name)
print("my technology name is", name,"and subject is"+subject,"my score is ",score)

print(f"my technology is {name} subject is {subject} and my score is {score}")

my technology nae is python
my technology name is python and subject isprograming my score is  89
my technology is python subject is programing and my score is 89

In [7]:
"""

input (): using of input function we can dynamic value from user 

  syntax : 
        
            input ("prompt message )

  by default input () function accept value in string format 


"""

name = input("enter your name : ")
print(f"hi {name}")

hi

In [8]:
""""
opertors : to perfrom some specific operation at that time we use some symbols 

a+b here , a and b are operands 

    and + is an operator 

1) airthmetic operator 

    + - * / % // ** 

2) Assignment operator :

   = to assing something 

       a = 10 here, a is my variable         
        
       shorthand operator : combination of airthmentic and assignments operator 

        a = 10 
        b = 20 

        a = a + b 
         
          or 
        a+= b    

3) relational operator :

   > < >= <= == !=

4) logical operator :
     
    and 
    or 
    not 
5) membership operator :

     in  
     not in 
6)          
"""

a = 12
b = 5 

print(a + b)
print(a * b)
print(a / b)
print(a // b)
print(2 ** 5) # 2 * 2 *2 * 2 *2
print(12 / 2) # output : 6
print(12 % 2) # output : 0

17
60
2.4
2
32
6.0
0

In [9]:
"""
nested for loop ::
loop inside the another loop 

syntax : 

for var in sequence :
    for var in sequence : 
    statement 


"""
for row in range (1,6):
    for col in range (1,6):
        print("*",end="")
    print()

*****
*****
*****
*****
*****

In [ ]:
"""
*
**
***
****
*****

"""

for row in range (1,6):
    for col in range (1,row+1):
        print("*",end=" ")
    print()

In [3]:
"""
1
12
123
1234
12345

"""

for row in range (1,6):
    for col in range (1,row+1):
        print(f"{col}",end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [4]:
"""
1
22
333
4444
55555

"""
for row in range (1,6):
    for col in range (1,row+1):
        print(f"{row}",end=" ")
    print ()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5